<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<%= column_chart @sales_group_by_month %>

<%= column_chart @sales_group_by_month_count %>

<%= column_chart @sales_group_by_month_average %>

<%= pie_chart @sales_count_by_origin_12m %>
<%= pie_chart @sales_count_by_origin_6m %>
<%= pie_chart @sales_count_by_origin_3m %>
<%= pie_chart @sales_count_by_origin_1m %>

<%= pie_chart @sales_count_by_blend_12m %>
<%= pie_chart @sales_count_by_blend_6m %>
<%= pie_chart @sales_count_by_blend_3m %>
<%= pie_chart @sales_count_by_blend_1m %>



